<!-- CYRIL OAKS - SIEMantics -->
<!DOCTYPE html>
<html lang="en">
<head>

<title>SIEM App</title>


<!-- STYLE SHEET -->

<style>

.grid-container {

display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 20px;

}

.grid-item {

border: 1px solid #ddd;
padding: 20px;

}
.results-container{

overflow-y: auto;
position: relative;
max-height: 100px;

}
.fixed{position: fixed;}

.sp_30{height:30px;position: relative;}

.sp_50{height:50px;position: relative;}

.crawled_url{background:#eee;border:1px solid #000;padding:0px 10px;;}

</style>

</head>

<body>

<!-- TITLE -->

<h1>SIEMantics 1.0 - Created by Cyril Okworu</h1>

<div class="grid-container">

<div class="grid-item" id="scan-section">

<!-- VULNERABILITY SCANNER -->

<h2>Vulnerability Scanner</h2>

<!-- Form for entering URL to scan -->

<form method="post" action="{% url 'scan_website' %}">

    {% csrf_token %}

    <label for="website_url">Enter URL to scan:</label>

    <input type="url" id="website_url" name="website_url" required>

    <button type="submit">Scan</button>

</form>

<div class="results-container">

{% if scan_output %}

    <p>Scan output: {{ scan_output|linebreaks }}</p>

{% else %}

    <p>No scan result available.</p>

{% endif %}

</div>

</div>

<div class="grid-item" id="crawl-section">

<!-- WEB CRAWLER -->

<h2>Web Crawler</h2>

<!-- Form for entering URL to crawl -->

<form method="post" action="{% url 'crawl_website' %}">

    {% csrf_token %}

    <label for="website_url">Enter URL to crawl:</label>

    <input type="url" id="crawl_website_url" name="crawl_website_url" required>

    <button type="submit">Crawl</button>

</form>

{% if crawled_url and crawl_results %}

    <p class="fixed crawled_url">Crawled url: {{  crawled_url }}</p>

    <div class="sp_50"></div>

{% endif %}

<div class="results-container">

{% if crawled_url and crawl_results %}

    <p>{{ crawl_results|linebreaks }}</p>

{% else %}

    <p>No crawl result available.</p>

{% endif %}

</div>

</div>

<div class="grid-item" id="log-analysis-section">

<!-- LOG ANALYSER -->

<h2>Log Analyser</h2>

<a href="{% url 'analyse_logs' %}">Analyse Log Files</a>

<div class="results-container">

{% if log_entries %}

<ul>

    {% for log_entry in log_entries %}

    <li>

        <p>Log Text: {{ log_entry.log_text }}</p>

        <p>Log Path: {{ log_entry.log_path }}</p>

        <p>Accuracy: {{ log_entry.accuracy }}</p>

    </li>

    {% endfor %}

</ul>

{% else %}

<p>No suspicious logs found.</p>

{% endif %}

</div>

</div>

<div class="grid-item" id="security-section">

<!-- SCA BENCHMARK -->

<h2>SCA Benchmark</h2>

<div class="results-container">

{% if security_results %}

    <p>Security results: {{ security_results }}</p>

{% else %}

    <p>No security result available.</p>

{% endif %}

</div>

</div>

</div>

</body>

</html>